<section class="hero">
  <div class="hero-body">
    <div class="columns is-gapless is-vcentered is-mobile">
      <div class="column is-narrow title-icon">
        <app-svg-icon icon="bulb-outline"></app-svg-icon>
      </div>
      <div class="column">
        <p class="title" i18n>Light Settings</p>
        <p class="subtitle" i18n>
          Adjust the way how SmartBerry handles your lighting.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="card">
  <div class="card-content">
    <div class="columns">
      <div class="column">
        <h2 i18n>Light Switchable Items</h2>
      </div>
    </div>
    <p i18n class="block">
      Lights are triggered automatically in dependence to daylight and presence
      changes. Get started with a proper lights configuration by tagging your
      light items as light switchables.
    </p>
    <app-item-schema
      [items]="lightSwitchableItems"
      [schema]="schema.lightSwitchableItems"></app-item-schema>
    <p i18n class="block">
      SmartBerry will add manageable items to each location having light
      switchable items to let you adjust it's particular light configuration.
      Set the lighting mode in each location for
      <em>dark</em>, <em>obscured</em> and <em>bright</em> conditions. To do so,
      edit the generated members of
      <span class="tag">gCore_Lights_DarkMode</span>,
      <span class="tag">gCore_Lights_ObscuredMode</span> and
      <span class="tag">gCore_Lights_BrightMode</span>. Current choices are:
    </p>
    <ul class="content">
      <li i18n>Turn lights off (<code>OFF</code>)</li>
      <li i18n>Turn lights on (<code>ON</code>)</li>
      <li i18n>Turn lights on presence (<code>AUTO_ON</code>)</li>
      <li i18n>Disable light changes (<code>UNCHANGED</code>)</li>
      <li i18n>Use lights to simulate presence (<code>SIMULATE</code>)</li>
    </ul>
    <p i18n class="block">
      Light switchable items in locations with a lighting mode of
      <code>AUTO_ON</code> will turn off after a given time without presence
      events. Change <span class="tag">Core_Lights_DefaultDuration</span> to
      adjust the number of minutes until lights are turned off automatically.
    </p>
    <h3 i18n>Welcome light</h3>
    <p i18n class="block">
      If presence changes from <code>AWAY_SHORT</code> or
      <code>AWAY_LONG</code> to <code>HOME</code>, you can turn on all light
      switchable items in locations having the lighting mode set to
      <code>AUTO_ON</code> automatically. To do so, enable the corresponding
      welcome light item:
    </p>
    <ul class="content">
      <li i18n>
        <span class="tag">Core_Lights_WelcomeLight_DarkMode</span> to enable
        welcome lights during <em>dark</em> light conditions.
      </li>
      <li i18n>
        <span class="tag">Core_Lights_WelcomeLight_ObscuredMode</span> to enable
        welcome lights during <em>obscured</em> light conditions.
      </li>
      <li i18n>
        <span class="tag">Core_Lights_WelcomeLight_BrightMode</span> to enable
        welcome lights during <em>bright</em> light conditions.
      </li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <div class="columns">
      <div class="column">
        <h2 i18n>Light Measurement Items</h2>
      </div>
    </div>
    <p i18n class="block">
      SmartBerry analyzes light measurement items to identify the actual light
      conditions and change the state of
      <span class="tag">Core_Lights_AmbientLightCondition</span> accordingly.
      Note that light measurement items of locations with at least one active
      light switchable item are not put into consideration.
    </p>
    <app-item-schema
      [items]="lightMeasurementItems"
      [schema]="schema.lightMeasurementItems"></app-item-schema>
    <p i18n class="block">
      If no considerable light measurement items are available, SmartBerry can
      also use the sun state of an astro item to determine the actual light
      conditions.
    </p>
    <app-item-schema
      [items]="astroItems"
      [schema]="schema.astroSunItems"></app-item-schema>
    <p i18n class="block">
      Adjust the tresholds of
      <span class="tag"
        >Core_Lights_AmbientLightCondition_LuminanceTreshold_Obscured</span
      >
      and
      <span class="tag"
        >Core_Lights_AmbientLightCondition_LuminanceTreshold_Dark</span
      >
      to change the upper luminance level for obscured and dark light
      conditions.
    </p>
  </div>
</div>
