// Example Sitemap

// sitemap home label="Your home" {

//   Frame label="Szenen + Sonderzustände" icon="sofa" {
//     // Display the current special state of your home.
//     Switch item=SpecialStateManagement mappings=[0="Deaktiviert", 1="Schlafmodus"]

//     // Define your individual scenes for any room.
//     Text label="Szenen" icon="sofa" {
//       Switch item=GF_LivingRoom_SpecialStateManagement_Scenes mappings=[0="Standard", 1="Film", 2="Party"]
//     }
//   }

//   Frame label="Anwesenheitsmanagement" icon="motion" {
//     // Display the current presence state of your home.
//     Switch item=PresenceManagement label="Status" icon="boy_1" mappings=[1="Anwesend", 0="Kurz abwesend", 2="Lange abwesend"]

//     // Show all presence states in available rooms.
//     Group item=gPresenceManagement_LastPresence
//   }

//   Frame label="Lichtmanagement" icon="lightbulb" {
//     // Display the current ambient light conditions in your home.
//     Text item=LightManagement_AmbientLightCondition

//     // Show all light modes in available rooms.
//     Group item=gLightManagement_LastActivation

//     // Add Light Modes [If you do not have Light Conditions, Bright Mode is used.]
//     Text label="Automatisches An- und Ausschalten" icon="light" {
//        Selection item=GF_LivingRoom_LightManagement_DarkMode mappings=[0="Aus", 1="An", 5="An (Standardmodus)", 2="Auto-An", 3="Bei Abwesenheit (Standardmodus)", 4="Bei Anwesenheit (Standardmodus)", 5="Ohne Änderung"]
//        Selection item=GF_LivingRoom_LightManagement_BrightMode mappings=[0="Aus", 1="An", 5="An (Standardmodus)", 2="Auto-An", 3="Bei Abwesenheit (Standardmodus)", 4="Bei Anwesenheit (Standardmodus)", 5="Ohne Änderung"]
//        Selection item=GF_LivingRoom_LightManagement_ObscuredMode mappings=[0="Aus", 1="An", 5="An (Standardmodus)", 2="Auto-An", 3="Bei Abwesenheit (Standardmodus)", 4="Bei Anwesenheit (Standardmodus)", 5="Ohne Änderung"]
//     }

//   Frame label="Sicherheit" {
//     // Display the security operation state.
//     Text item=Security_OperationState

//     // When was the last alarm triggered?
//     Text item=Security_AlarmTime
//   }

//   // Create a section for house cleaning information.
//   Switch item=Cleaning_Vacuum_Clean
//   Frame label="Hausreinigung" {
// 		Text label="Erdgeschoss" icon="corridor" {
// 			Text item=GF_Vacuum_Battery
// 			Text item=GF_Vacuum_State
// 			Text item=GF_Vacuum_Docked
// 		}

// 		Text label="Obergeschoss" icon="corridor" {
// 			Text item=FF_Vacuum_Battery
// 			Text item=FF_Vacuum_State
// 			Text item=FF_Vacuum_Docked
// 		}
// 	}

//   // Create a section for rooms in your house using the room groups.
//   Frame label="Erdgeschoss" icon="groundfloor" {
//     Group item=gGF_LivingRoom
//     Group item=gGF_Toilet
//     Group item=gGF_Corridor
//     Group item=gGF_StorageRoom
//     Group item=gGF_Kitchen
//   }

//   // Create a section for timed outlets that are freely movable within your home.
//   Frame label="Zeitschaltuhren" icon="lightbulb" {
//     Group item=gTimedOutletManagement_LastActivation
//     Group item=gTimedOutletManagement_Switchable

//     Text label="Einschaltdauer definieren" icon="poweroutlet" {
//       Setpoint item=TimedOutlet1_ActiveDuration minValue=5 maxValue=1440 step=5
//     }
//   }

//   // Create a section for different item types.
//   Frame label="Objektgruppen" icon="settings" {
//     Group item=gLight
//     Group item=gPower
//     Group item=gSensor
//     Group item=gBattery
//     Group item=gSecurity
//   }
// }
