<div class="columns is-multiline">
  <div class="column is-half" *ngFor="let route of routeItems">
    <div
      class="box"
      [ngClass]="{ disabled: !route.link, 'is-clickable': route.link }"
      [routerLink]="route.link">
      <div class="columns is-vcentered is-mobile">
        <div class="column is-narrow">
          <app-svg-icon [icon]="route.icon"></app-svg-icon>
        </div>
        <div class="column">
          <h2 class="h3 has-single-line">{{ route.title }}</h2>
          <p class="h4 has-text-grey has-single-line" i18n>Edit</p>
        </div>
      </div>
    </div>
  </div>
</div>
