{
    "python.linting.ignorePatterns": [
        "**/automation/**/python/core/**/*.py",
        "**/automation/**/python/community/**/*.py"
    ],
    "openhab.host": "smartberry",
    "openhab.port": 80,
    "openhab.username": "openhab",
    "openhab.password": "your password"
}
