$font-path: '/assets/fonts';

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(''), url('#{$font-path}/lato-v17-latin-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
    url('#{$font-path}/lato-v17-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''), url('#{$font-path}/lato-v17-latin-700.woff2') format('woff2');
}
