@import './fonts.scss';
@import '../../node_modules/bulma/sass/utilities/initial-variables.sass';

$family-sans-serif: 'Lato';

$radius: 0.5rem;
$radius-small: $radius * 0.5;
$radius-large: $radius * 2;
$radius-rounded: 100%;

$card-radius: $radius;

$box-radius: $radius;
$box-shadow: none;

$primary: #f60;

$navbar-height: 2.75rem;

$body-background-color: $white-ter;

@import '../../node_modules/bulma/sass/utilities/derived-variables.sass';

$block-spacing: $size-medium;
$shadow: 0 0.1em 0.5em -0.125em rgba($scheme-invert, 0.1);

@import '../../node_modules/bulma/sass/utilities/mixins.sass';
