<section class="hero">
  <div class="hero-body">
    <div class="columns is-gapless is-vcentered is-mobile">
      <div class="column is-narrow title-icon">
        <app-svg-icon icon="thermometer-outline"></app-svg-icon>
      </div>
      <div class="column">
        <p class="title" i18n>Climate Settings</p>
        <p class="subtitle" i18n>
          Adjust the way how SmartBerry handles climate control.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="card">
  <div class="card-content">
    <div class="columns">
      <div class="column">
        <h2 i18n>Radiators</h2>
      </div>
    </div>
    <p i18n class="block">
      You can set the mode of all your radiators at once. Additionally,
      SmartBerry turn radiators off, if windows or doors are openend. Current
      modes are <code>OFF</code>, <code>ON</code>, <code>ECO</code> and
      <code>POWER</code>.
    </p>
    <p class="block" i18n>
      In order to let SmartBerry handle all radiators for you, organize your
      radiator items as shown below.
    </p>
    <app-item-schema
      [items]="heatingItems | map: 'item'"
      [schema]="schema.heatingItems"></app-item-schema>

    <h3 i18n>Adjust state commands</h3>
    <p class="block" i18n>
      Adjust the commands sent to the heating mode item for each available
      state. Current choices are <i>OFF (0.0)</i>, <i>ON (1.0)</i>,
      <i>ECO (2.0)</i> or <i>POWER` (3.0)</i>
    </p>
    <app-accordion
      [title]="heatingItem.item.label"
      [hintClasses]="
        countValues(heatingItem.form)
          ? ['has-text-primary', 'has-text-weight-bold']
          : 'has-text-grey'
      "
      i18n-hint
      hint="{{
        countValues(heatingItem.form)
          | i18nPlural
            : { '=0': 'No options', '=1': 'One option', other: '# options' }
      }} selected"
      *ngFor="let heatingItem of heatingItems">
      <form
        [formGroup]="heatingItem.form"
        (ngSubmit)="updateItem(heatingItem)"
        [ngClass]="{
          'has-error': heatingItem.form.touched && !heatingItem.form.valid
        }">
        <div class="field has-addons">
          <div class="control">
            <span class="button is-static">ON</span>
          </div>
          <div class="control">
            <input
              class="input"
              [ngClass]="{
                'is-danger':
                  heatingItem.form.touched &&
                  heatingItem.form.controls['on'].errors
              }"
              formControlName="on"
              type="text"
              placeholder="ON" />
          </div>
        </div>
        <div class="field has-addons">
          <div class="control">
            <span class="button is-static">OFF</span>
          </div>
          <div class="control">
            <input
              class="input"
              [ngClass]="{
                'is-danger':
                  heatingItem.form.touched &&
                  heatingItem.form.controls['off'].errors
              }"
              formControlName="off"
              type="text"
              placeholder="OFF" />
          </div>
        </div>
        <div class="field has-addons">
          <div class="control">
            <span class="button is-static" >POWER</span>
          </div>
          <div class="control">
            <input
              class="input"
              [ngClass]="{
                'is-danger':
                  heatingItem.form.touched &&
                  heatingItem.form.controls['power'].errors
              }"
              formControlName="power"
              type="text"
              placeholder="POWER" />
          </div>
        </div>
        <div class="field has-addons">
          <div class="control">
            <span class="button is-static" >ECO</span>
          </div>
          <div class="control">
            <input
              class="input"
              [ngClass]="{
                'is-danger':
                  heatingItem.form.touched &&
                  heatingItem.form.controls['eco'].errors
              }"
              formControlName="eco"
              type="text"
              placeholder="ECO" />
          </div>
        </div>
        <div class="field has-addons">
          <div class="control">
            <button type="submit" class="button is-primary" i18n>Save</button>
          </div>
        </div>
        <app-error [form]="heatingItem.form"></app-error>
      </form>
    </app-accordion>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <div class="columns">
      <div class="column">
        <h2 i18n>Doors- and Windows</h2>
      </div>
    </div>
    <p i18n class="block">
      You can define contact items that automatically turn off heating in open
      state.
    </p>
    <app-item-schema
      [items]="heatingContactSwitchableItems"
      [schema]="schema.heatingContactSwitchableItems"></app-item-schema>
  </div>
</div>
