<section class="hero">
  <div class="hero-body">
    <div class="columns is-gapless is-vcentered is-mobile">
      <div class="column is-narrow title-icon">
        <app-svg-icon icon="link-2-outline"></app-svg-icon>
      </div>
      <div class="column">
        <p class="title" i18n>Setup</p>
        <p class="subtitle" i18n>
          Authenticate to your openHAB-Instance to adjust addional settings.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="card">
  <div class="card-content">
    <div class="columns is-gapless is-vcentered is-mobile">
      <div class="column">
        <h2 i18n>API-Token</h2>
      </div>
      <div class="column is-narrow">
        <span
          class="tag"
          [ngClass]="{
            'is-success': openhabService.authenticated(),
            'is-danger': !openhabService.authenticated()
          }">
          <app-svg-icon
            [icon]="
              openhabService.authenticated()
                ? 'checkmark-outline'
                : 'alert-circle-outline'
            "></app-svg-icon
          >{{
            openhabService.authenticated()
              ? 'Authentifiziert'
              : 'Unauthentifiziert'
          }}
        </span>
      </div>
    </div>
    <p class="block" i18n>
      Aktualisiere deinen API-Token, um weitere Konfigurationsmöglichkeiten für
      smartberry zu nutzen.
    </p>
    <form
      [formGroup]="apiTokenForm"
      (ngSubmit)="submitAPIToken()"
      [ngClass]="{
        'has-error': apiTokenForm.touched && !apiTokenForm.valid
      }">
      <div class="field has-addons">
        <div class="control is-expanded">
          <input
            class="input"
            formControlName="apiToken"
            type="text"
            placeholder="Dein API-Token" />
        </div>
        <div class="control">
          <button type="submit" i18n class="button is-primary">Save</button>
        </div>
      </div>

      <fieldset [attr.disabled]="openhabService.authenticated() ? null : true">
        <div class="field">
          <div class="control">
            <button
              i18n
              type="submit"
              (click)="openhabService.unregister()"
              class="button is-primary">
              Delete API-Token
            </button>
          </div>
        </div>
      </fieldset>

      <p
        class="help is-danger"
        *ngIf="
          apiTokenForm.touched &&
          apiTokenForm.controls['apiToken'].hasError('invalidToken')
        "
        i18n>
        API-Key is invalid.
      </p>
      <p
        class="help is-danger"
        *ngIf="
          apiTokenForm.touched &&
          apiTokenForm.controls['apiToken'].hasError('required')
        "
        i18n>
        API-Key is required.
      </p>
      <p
        i18n
        class="help is-danger"
        *ngIf="apiTokenForm.controls['apiToken'].hasError('connection')">
        No connection to your openHAB-Instance.
      </p>
    </form>
  </div>
</div>
